<launch>
  <param name="map_confname" value="$(find map)/src/conffile" />
  <arg name="rate" default="0.25" />
  <arg name="ret" default="false" />
  <param name="rate" value="$(arg rate)" />
  <param name="ret" value="$(arg ret)" />
  <node name="map_node" pkg="map" type="map_node" />
  <node name="lights_node" pkg="lights" type="lights_node" />
  <node name="crossing_1" pkg="crossings" type="crossings_node" />
  <node name="crossing_2" pkg="crossings" type="crossings_node" />
  <node name="crossing_3" pkg="crossings" type="crossings_node" />
  <node name="crossing_4" pkg="crossings" type="crossings_node" />
  <node name="crossing_5" pkg="crossings" type="crossings_node" />
  <node name="crossing_6" pkg="crossings" type="crossings_node" />
  <node name="crossing_7" pkg="crossings" type="crossings_node" />
  <node name="crossing_8" pkg="crossings" type="crossings_node" />
  <node name="crossing_9" pkg="crossings" type="crossings_node" />
  <node name="crossing_A" pkg="crossings" type="crossings_node" />
</launch>
