<?xml version="1.0"?>
<robot name="lights">

<link name="base_link">   
</link>

<link name="world">   
<visual>
<geometry>
<box size="10000 10000 .01"/>
</geometry>
<material name="green">
<color rgba="0 0.5 0 1" />
</material>
</visual>
</link>

<!-- links  -->

<joint name="base_link_to_world" type="fixed">
<origin rpy="0 0 0" xyz="0.0 0.0 -0.005"/>
<parent link="base_link"/>
<child link="world"/>
</joint>

<!-- joints  -->

</robot>
