<?xml version="1.0"?><robot name="lights"><link name="base_link"></link><link name="cross_base_1">   
  <visual>
    <geometry>
      <box size="5 5 .01"/>
    </geometry>
    <material name="grey">
      <color rgba="0.3 0.3 0.3 1" />
    </material>
  </visual>
</link>
<link name="cross_1">   
  <visual>
    <geometry>
      <box size="4 4 .01"/>
    </geometry>
    <material name="black">
      <color rgba="0 0 0 1" />
    </material>
  </visual>
</link>
<joint name="cross_base_to_link_1" type="fixed">
  <origin rpy="0 0 0" xyz="0 0 0.01"/>
  <parent link="base_link"/>
  <child link="cross_base_1"/>
</joint> 
<joint name="cross_to_cross_base_1" type="fixed">
  <origin rpy="0 0 0" xyz="0.0 0.0 0"/>
  <parent link="cross_base_1"/>
  <child link="cross_1"/>
</joint>

<link name="road_1_2">   
  <visual>
    <geometry>
      <box size="250 4 0.1"/>
    </geometry>
    <material name="black">
      <color rgba="0 0 0 1" />
    </material>
  </visual>
</link>


<joint name="road_1_2_to_cross" type="fixed">
  <origin rpy="0 0 0" xyz="125 0 0"/>
  <parent link="cross_1"/>
  <child link="road_1_2"/>
</joint>
<link name="road_1_4">   
  <visual>
    <geometry>
      <box size="4 200 0.1"/>
    </geometry>
    <material name="black">
      <color rgba="0 0 0 1" />
    </material>
  </visual>
</link>


<joint name="road_1_4_to_cross" type="fixed">
  <origin rpy="0 0 0" xyz="0 -100 0"/>
  <parent link="cross_1"/>
  <child link="road_1_4"/>
</joint>
<link name="cross_base_2">   
  <visual>
    <geometry>
      <box size="5 5 .01"/>
    </geometry>
    <material name="grey">
      <color rgba="0.3 0.3 0.3 1" />
    </material>
  </visual>
</link>
<link name="cross_2">   
  <visual>
    <geometry>
      <box size="4 4 .01"/>
    </geometry>
    <material name="black">
      <color rgba="0 0 0 1" />
    </material>
  </visual>
</link>
<joint name="cross_base_to_link_2" type="fixed">
  <origin rpy="0 0 0" xyz="250 0 0.01"/>
  <parent link="base_link"/>
  <child link="cross_base_2"/>
</joint> 
<joint name="cross_to_cross_base_2" type="fixed">
  <origin rpy="0 0 0" xyz="0.0 0.0 0"/>
  <parent link="cross_base_2"/>
  <child link="cross_2"/>
</joint>

<link name="road_2_3">   
  <visual>
    <geometry>
      <box size="300 4 0.1"/>
    </geometry>
    <material name="black">
      <color rgba="0 0 0 1" />
    </material>
  </visual>
</link>


<joint name="road_2_3_to_cross" type="fixed">
  <origin rpy="0 0 0" xyz="150 0 0"/>
  <parent link="cross_2"/>
  <child link="road_2_3"/>
</joint>
<link name="road_2_5">   
  <visual>
    <geometry>
      <box size="4 200 0.1"/>
    </geometry>
    <material name="black">
      <color rgba="0 0 0 1" />
    </material>
  </visual>
</link>


<joint name="road_2_5_to_cross" type="fixed">
  <origin rpy="0 0 0" xyz="0 -100 0"/>
  <parent link="cross_2"/>
  <child link="road_2_5"/>
</joint>
<link name="cross_base_3">   
  <visual>
    <geometry>
      <box size="5 5 .01"/>
    </geometry>
    <material name="grey">
      <color rgba="0.3 0.3 0.3 1" />
    </material>
  </visual>
</link>
<link name="cross_3">   
  <visual>
    <geometry>
      <box size="4 4 .01"/>
    </geometry>
    <material name="black">
      <color rgba="0 0 0 1" />
    </material>
  </visual>
</link>
<joint name="cross_base_to_link_3" type="fixed">
  <origin rpy="0 0 0" xyz="550 0 0.01"/>
  <parent link="base_link"/>
  <child link="cross_base_3"/>
</joint> 
<joint name="cross_to_cross_base_3" type="fixed">
  <origin rpy="0 0 0" xyz="0.0 0.0 0"/>
  <parent link="cross_base_3"/>
  <child link="cross_3"/>
</joint>

<link name="road_3_7">   
  <visual>
    <geometry>
      <box size="4 200 0.1"/>
    </geometry>
    <material name="black">
      <color rgba="0 0 0 1" />
    </material>
  </visual>
</link>


<joint name="road_3_7_to_cross" type="fixed">
  <origin rpy="0 0 0" xyz="0 -100 0"/>
  <parent link="cross_3"/>
  <child link="road_3_7"/>
</joint>
<link name="cross_base_4">   
  <visual>
    <geometry>
      <box size="5 5 .01"/>
    </geometry>
    <material name="grey">
      <color rgba="0.3 0.3 0.3 1" />
    </material>
  </visual>
</link>
<link name="cross_4">   
  <visual>
    <geometry>
      <box size="4 4 .01"/>
    </geometry>
    <material name="black">
      <color rgba="0 0 0 1" />
    </material>
  </visual>
</link>
<joint name="cross_base_to_link_4" type="fixed">
  <origin rpy="0 0 0" xyz="0 -200 0.01"/>
  <parent link="base_link"/>
  <child link="cross_base_4"/>
</joint> 
<joint name="cross_to_cross_base_4" type="fixed">
  <origin rpy="0 0 0" xyz="0.0 0.0 0"/>
  <parent link="cross_base_4"/>
  <child link="cross_4"/>
</joint>

<link name="road_4_5">   
  <visual>
    <geometry>
      <box size="250 4 0.1"/>
    </geometry>
    <material name="black">
      <color rgba="0 0 0 1" />
    </material>
  </visual>
</link>


<joint name="road_4_5_to_cross" type="fixed">
  <origin rpy="0 0 0" xyz="125 0 0"/>
  <parent link="cross_4"/>
  <child link="road_4_5"/>
</joint>
<link name="road_4_8">   
  <visual>
    <geometry>
      <box size="4 150 0.1"/>
    </geometry>
    <material name="black">
      <color rgba="0 0 0 1" />
    </material>
  </visual>
</link>


<joint name="road_4_8_to_cross" type="fixed">
  <origin rpy="0 0 0" xyz="0 -75 0"/>
  <parent link="cross_4"/>
  <child link="road_4_8"/>
</joint>
<link name="cross_base_5">   
  <visual>
    <geometry>
      <box size="5 5 .01"/>
    </geometry>
    <material name="grey">
      <color rgba="0.3 0.3 0.3 1" />
    </material>
  </visual>
</link>
<link name="cross_5">   
  <visual>
    <geometry>
      <box size="4 4 .01"/>
    </geometry>
    <material name="black">
      <color rgba="0 0 0 1" />
    </material>
  </visual>
</link>
<joint name="cross_base_to_link_5" type="fixed">
  <origin rpy="0 0 0" xyz="250 -200 0.01"/>
  <parent link="base_link"/>
  <child link="cross_base_5"/>
</joint> 
<joint name="cross_to_cross_base_5" type="fixed">
  <origin rpy="0 0 0" xyz="0.0 0.0 0"/>
  <parent link="cross_base_5"/>
  <child link="cross_5"/>
</joint>

<link name="road_5_6">   
  <visual>
    <geometry>
      <box size="100 4 0.1"/>
    </geometry>
    <material name="black">
      <color rgba="0 0 0 1" />
    </material>
  </visual>
</link>


<joint name="road_5_6_to_cross" type="fixed">
  <origin rpy="0 0 0" xyz="50 0 0"/>
  <parent link="cross_5"/>
  <child link="road_5_6"/>
</joint>
<link name="road_5_9">   
  <visual>
    <geometry>
      <box size="4 150 0.1"/>
    </geometry>
    <material name="black">
      <color rgba="0 0 0 1" />
    </material>
  </visual>
</link>


<joint name="road_5_9_to_cross" type="fixed">
  <origin rpy="0 0 0" xyz="0 -75 0"/>
  <parent link="cross_5"/>
  <child link="road_5_9"/>
</joint>
<link name="cross_base_6">   
  <visual>
    <geometry>
      <box size="5 5 .01"/>
    </geometry>
    <material name="grey">
      <color rgba="0.3 0.3 0.3 1" />
    </material>
  </visual>
</link>
<link name="cross_6">   
  <visual>
    <geometry>
      <box size="4 4 .01"/>
    </geometry>
    <material name="black">
      <color rgba="0 0 0 1" />
    </material>
  </visual>
</link>
<joint name="cross_base_to_link_6" type="fixed">
  <origin rpy="0 0 0" xyz="350 -200 0.01"/>
  <parent link="base_link"/>
  <child link="cross_base_6"/>
</joint> 
<joint name="cross_to_cross_base_6" type="fixed">
  <origin rpy="0 0 0" xyz="0.0 0.0 0"/>
  <parent link="cross_base_6"/>
  <child link="cross_6"/>
</joint>

<link name="road_6_7">   
  <visual>
    <geometry>
      <box size="200 4 0.1"/>
    </geometry>
    <material name="black">
      <color rgba="0 0 0 1" />
    </material>
  </visual>
</link>


<joint name="road_6_7_to_cross" type="fixed">
  <origin rpy="0 0 0" xyz="100 0 0"/>
  <parent link="cross_6"/>
  <child link="road_6_7"/>
</joint>
<link name="road_6_10">   
  <visual>
    <geometry>
      <box size="4 150 0.1"/>
    </geometry>
    <material name="black">
      <color rgba="0 0 0 1" />
    </material>
  </visual>
</link>


<joint name="road_6_10_to_cross" type="fixed">
  <origin rpy="0 0 0" xyz="0 -75 0"/>
  <parent link="cross_6"/>
  <child link="road_6_10"/>
</joint>
<link name="cross_base_7">   
  <visual>
    <geometry>
      <box size="5 5 .01"/>
    </geometry>
    <material name="grey">
      <color rgba="0.3 0.3 0.3 1" />
    </material>
  </visual>
</link>
<link name="cross_7">   
  <visual>
    <geometry>
      <box size="4 4 .01"/>
    </geometry>
    <material name="black">
      <color rgba="0 0 0 1" />
    </material>
  </visual>
</link>
<joint name="cross_base_to_link_7" type="fixed">
  <origin rpy="0 0 0" xyz="550 -200 0.01"/>
  <parent link="base_link"/>
  <child link="cross_base_7"/>
</joint> 
<joint name="cross_to_cross_base_7" type="fixed">
  <origin rpy="0 0 0" xyz="0.0 0.0 0"/>
  <parent link="cross_base_7"/>
  <child link="cross_7"/>
</joint>

<link name="cross_base_8">   
  <visual>
    <geometry>
      <box size="5 5 .01"/>
    </geometry>
    <material name="grey">
      <color rgba="0.3 0.3 0.3 1" />
    </material>
  </visual>
</link>
<link name="cross_8">   
  <visual>
    <geometry>
      <box size="4 4 .01"/>
    </geometry>
    <material name="black">
      <color rgba="0 0 0 1" />
    </material>
  </visual>
</link>
<joint name="cross_base_to_link_8" type="fixed">
  <origin rpy="0 0 0" xyz="0 -350 0.01"/>
  <parent link="base_link"/>
  <child link="cross_base_8"/>
</joint> 
<joint name="cross_to_cross_base_8" type="fixed">
  <origin rpy="0 0 0" xyz="0.0 0.0 0"/>
  <parent link="cross_base_8"/>
  <child link="cross_8"/>
</joint>

<link name="road_8_9">   
  <visual>
    <geometry>
      <box size="250 4 0.1"/>
    </geometry>
    <material name="black">
      <color rgba="0 0 0 1" />
    </material>
  </visual>
</link>


<joint name="road_8_9_to_cross" type="fixed">
  <origin rpy="0 0 0" xyz="125 0 0"/>
  <parent link="cross_8"/>
  <child link="road_8_9"/>
</joint>
<link name="cross_base_9">   
  <visual>
    <geometry>
      <box size="5 5 .01"/>
    </geometry>
    <material name="grey">
      <color rgba="0.3 0.3 0.3 1" />
    </material>
  </visual>
</link>
<link name="cross_9">   
  <visual>
    <geometry>
      <box size="4 4 .01"/>
    </geometry>
    <material name="black">
      <color rgba="0 0 0 1" />
    </material>
  </visual>
</link>
<joint name="cross_base_to_link_9" type="fixed">
  <origin rpy="0 0 0" xyz="250 -350 0.01"/>
  <parent link="base_link"/>
  <child link="cross_base_9"/>
</joint> 
<joint name="cross_to_cross_base_9" type="fixed">
  <origin rpy="0 0 0" xyz="0.0 0.0 0"/>
  <parent link="cross_base_9"/>
  <child link="cross_9"/>
</joint>

<link name="road_9_10">   
  <visual>
    <geometry>
      <box size="100 4 0.1"/>
    </geometry>
    <material name="black">
      <color rgba="0 0 0 1" />
    </material>
  </visual>
</link>


<joint name="road_9_10_to_cross" type="fixed">
  <origin rpy="0 0 0" xyz="50 0 0"/>
  <parent link="cross_9"/>
  <child link="road_9_10"/>
</joint>
<link name="cross_base_10">   
  <visual>
    <geometry>
      <box size="5 5 .01"/>
    </geometry>
    <material name="grey">
      <color rgba="0.3 0.3 0.3 1" />
    </material>
  </visual>
</link>
<link name="cross_10">   
  <visual>
    <geometry>
      <box size="4 4 .01"/>
    </geometry>
    <material name="black">
      <color rgba="0 0 0 1" />
    </material>
  </visual>
</link>
<joint name="cross_base_to_link_10" type="fixed">
  <origin rpy="0 0 0" xyz="350 -350 0.01"/>
  <parent link="base_link"/>
  <child link="cross_base_10"/>
</joint> 
<joint name="cross_to_cross_base_10" type="fixed">
  <origin rpy="0 0 0" xyz="0.0 0.0 0"/>
  <parent link="cross_base_10"/>
  <child link="cross_10"/>
</joint>

</robot>